<!DOCTYPE html>
<html>
   <head>
      <h1>{{ message }}</h1>
      <h2>You Entered:</h2>
      <h2>Username:{{ username }}</h2>
      <h2>Password:{{ password }}</h2>
   </head>
   <body>
      <a href="/"><button>Try Again</button></a>
   </body>
</html>
